[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "==1.7.3"
async-pavlov = "*"
beautifulsoup4 = "*"
pillow = "*"
discord-components = {file = "https://github.com/kiki7000/discord.py-components/archive/refs/tags/2.1.2.tar.gz"}
